body {
  background: #222;
  color: white;
}

#container {
  box-shadow: inset 0 1px 0 #444, 0 -1px 0 #000;
  height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  will-change: transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

canvas#waterfall {
  display: block;
  margin: 0 auto;
  width: 30%;
  height: 55%;
  will-change: transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.emma {
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}

h1 {
  color: #0af;
  font-size: 30vw;
}

canvas#surface {
  -webkit-animation: fade-in 3000ms forwards;
          animation: fade-in 3000ms forwards;
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}